html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: white; }

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  margin: 0 auto; }

.container--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container--direction-row {
  -ms-flex-direction: row;
  flex-direction: row; }

.container--justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.container--justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.container--justify-content-space-between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container--justify-content-space-around {
  -ms-flex-pack: start;
  justify-content: space-around; }

.container--align-items-start {
  -ms-flex-align: start;
  align-items: flex-start; }

.container--align-items-end {
  -ms-flex-align: end;
  align-items: flex-end; }

.container--align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline; }

.container--align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch; }

.container--align-content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.container--align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.container--align-content-space-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.container--align-content-space-around {
  -ms-flex-line-pack: start;
  align-content: space-around; }

.container--align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.row {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  max-width: 75rem;
  margin: 30px 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.row--full-width {
  max-width: 100%; }

.row--no-wrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.row--reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.row--justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.row--justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start; }

.row--justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.row--justify-content-space-around {
  -ms-flex-pack: justify;
  justify-content: space-around; }

.row--align-items-start {
  -ms-flex-align: start;
  align-items: flex-start; }

.row--align-items-center {
  -ms-flex-align: center;
  align-items: center; }

.row--align-items-end {
  -ms-flex-align: end;
  align-items: flex-end; }

.row--align-items-baseline {
  -ms-flex-align: baseline;
  align-items: baseline; }

.row--align-items-stretch {
  -ms-flex-align: stretch;
  align-items: stretch; }

.row--align-content-center {
  -ms-flex-line-pack: center;
  align-content: center; }

.row--align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end; }

.row--align-content-space-between {
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.row--align-content-space-around {
  -ms-flex-line-pack: start;
  align-content: space-around; }

.row--align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.row .row {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  width: auto; }

*[class*="col-"], *[class*="sm-col-"], *[class*="md-col-"], *[class*="flex-basis-"], .col {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  min-width: 0; }

.col-1 {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%; }

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%; }

.col-3 {
  -ms-flex-preferred-size: 25.0%;
  flex-basis: 25.0%; }

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%; }

.col-5 {
  -ms-flex-preferred-size: 41.66666%;
  flex-basis: 41.66666%; }

.col-6 {
  -ms-flex-preferred-size: 50.0%;
  flex-basis: 50.0%; }

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%; }

.col-8 {
  -ms-flex-preferred-size: 66.66666%;
  flex-basis: 66.66666%; }

.col-9 {
  -ms-flex-preferred-size: 75.0%;
  flex-basis: 75.0%; }

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%; }

.col-11 {
  -ms-flex-preferred-size: 91.66666%;
  flex-basis: 91.66666%; }

.col-12 {
  -ms-flex-preferred-size: 100.0%;
  flex-basis: 100.0%; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .col-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-3 {
    width: 25.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-8 {
    width: 66.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-9 {
    width: 75.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-11 {
    width: 91.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
.col-grow {
  -ms-flex: 1 1 100.0%;
  flex: 1 1 100.0%; }

.col-no-pad {
  padding-left: 0;
  padding-right: 0; }

@media screen and (max-width: 64em) {
  .md-col-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%; }

  .md-col-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%; }

  .md-col-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%; }

  .md-col-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%; }

  .md-col-5 {
    -ms-flex-preferred-size: 41.66666%;
    flex-basis: 41.66666%; }

  .md-col-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%; }

  .md-col-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%; }

  .md-col-8 {
    -ms-flex-preferred-size: 66.66666%;
    flex-basis: 66.66666%; }

  .md-col-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%; }

  .md-col-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%; }

  .md-col-11 {
    -ms-flex-preferred-size: 91.66666%;
    flex-basis: 91.66666%; }

  .md-col-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%; } }
@media screen and (max-width: 64em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .md-col-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-3 {
    width: 25.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-8 {
    width: 66.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-9 {
    width: 75.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-11 {
    width: 91.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .md-col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
@media screen and (max-width: 47.9375em) {
  *[class*="col-"] {
    -ms-flex: 1 1 100.0%;
    flex: 1 1 100.0%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

  .sm-col-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-5 {
    -ms-flex-preferred-size: 41.66666%;
    flex-basis: 41.66666%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-8 {
    -ms-flex-preferred-size: 66.66666%;
    flex-basis: 66.66666%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-11 {
    -ms-flex-preferred-size: 91.66666%;
    flex-basis: 91.66666%;
    -ms-flex-positive: 0;
    flex-grow: 0; }

  .sm-col-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%;
    -ms-flex-positive: 0;
    flex-grow: 0; } }
@media screen and (max-width: 47.9375em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sm-col-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-3 {
    width: 25.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-5 {
    width: 41.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-6 {
    width: 50.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-8 {
    width: 66.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-9 {
    width: 75.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-11 {
    width: 91.66666%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }

  .sm-col-12 {
    width: 100.0%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; } }
.horizontal-full {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow-x: auto; }

.horizontal-in {
  display: flex;
  width: 100%;
  min-height: 100px;
  overflow-x: auto; }

.horizontal-content {
  min-width: 100%; }

.hide {
  display: none !important; }

.sm-only {
  display: none !important; }

.md-only {
  display: none !important; }

.lg-only {
  display: -ms-flexbox !important;
  display: flex !important; }

@media screen and (min-width: 47.9375em) and (max-width: 64em) {
  .sm-only {
    display: none !important; }

  .md-only {
    display: -ms-flexbox !important;
    display: flex !important; }

  .lg-only {
    display: none !important; }

  .md-hide {
    display: none !important; }

  .md-hide-down {
    display: none !important; } }
@media screen and (max-width: 47.9375em) {
  .sm-only {
    display: -ms-flexbox !important;
    display: flex !important; }

  .md-only {
    display: none !important; }

  .lg-only {
    display: none !important; }

  .sm-hide {
    display: none !important; }

  .dribbble-icon {
    width: 8%; }

  .instagram-icon {
    width: 8%;
    margin-left: 22px; } }
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media screen and (max-width: 64em) {
  .md-text-left {
    text-align: left; }

  .md-text-center {
    text-align: center; }

  .md-text-right {
    text-align: right; }

  .md-col-center {
    margin: 0 auto; } }
@media screen and (max-width: 47.9375em) {
  .sm-text-left {
    text-align: left; }

  .sm-text-center {
    text-align: center; }

  .sm-text-right {
    text-align: right; } }
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  clear: both;
  flex-direction: column; }

.center-row {
  display: flex;
  justify-content: space-between;
  clear: both;
  flex-direction: row; }

/* Backgrounds */
.bg-blue {
  background-color: #004cc9; }

.bg-blue2 {
  background-color: #00184F; }

.bg-red {
  background-color: #C85177; }

.bg-white {
  background-color: #FFFFFF; }

.bg-grey {
  background-color: #AAAAAA; }

.bg-black {
  background-color: #1d1d1d; }

/* Colors */
.blue {
  color: #004cc9; }

.blue2 {
  color: #00184F; }

.red {
  color: #C85177; }

.white {
  color: #FFFFFF; }

.grey {
  color: #AAAAAA; }

.black {
  color: #1d1d1d; }

.orange {
  color: #FFBB05; }

h4 {
  font-size: 1.125em;
  line-height: 1.375em;
  letter-spacing: 1.1px; }

h1 {
  letter-spacing: 1.2px;
  font-size: 3em;
  font-weight: 800;
  margin-top: 80px; }

nav a {
  margin-top: 40px; }

a {
  background-image: linear-gradient(0deg, #FFBB05 20%, transparent 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  line-height: 1;
  text-decoration: none; }

a:hover {
  background-size: 100% 100%; }

.header-background {
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.header-copy {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 120px;
  line-height: 1.6em; }

.logo {
  width: 26%; }

.buffer-sm {
  padding: 100px 0; }

.buffer-lg {
  padding: 200px 0; }

.buffer-exlg {
  padding: 400px 0; }

.secondary-header {
  font-size: 1.4em;
  color: #9B9B9B; }

.schedule-card {
  background-color: white;
  border-radius: 20px;
  max-width: 90%;
  margin: auto;
  height: auto;
  position: relative;
  padding: 20px 30px;
  transform: translate(0, -26%);
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07); }

.schedule-item {
  background: #F5F4F5;
  position: relative;
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  transition: .5s ease-in-out;
  margin: 2% auto; }

.schedule-item:hover {
  background-color: #FFBB05;
  transform: scale(1.03);
  transition: .5s ease-in-out;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07); }

.section-one,
.section-two {
  flex: 1;
  padding: 10px 20px; }

#process-icon {
  width: 20%;
  height: 100%; }

.previous-card {
  background-color: white;
  border-radius: 20px;
  max-width: 90%;
  margin: auto;
  height: auto;
  position: relative;
  padding: 20px 30px;
  transform: translate(0, -26%);
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07);
  height: 200px;
  border-radius: 14px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07); }

.kc-1 {
  background-image: url("../img/cookies.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.kc-2 {
  background-image: url("../img/cupcakes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.cards {
  display: flex;
  flex-wrap: wrap; }

.card {
  background-color: white;
  border-radius: 20px;
  max-width: 90%;
  margin: auto;
  height: auto;
  position: relative;
  padding: 20px 30px;
  transform: translate(0, -26%);
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07);
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 2em;
  height: 220px; }

@media screen and (max-width: 47.9375em) {
  .dribbble-icon {
    width: 40%; } }
@font-face {
  font-family: 'agane_light';
  src: url("../fonts/agane_light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'agane_regular';
  src: url("../fonts/agane_reg.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'agane_bold';
  src: url("../fonts/agane_bold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'agane_extra_bold';
  src: url("../fonts/agane_extra_bold.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */
