$blue: #004cc9;
$blue2: #00184F;
$red: #C85177;
$black: #1d1d1d;
$white: #FFFFFF;
$grey: #9B9B9B;
$border: #CFCFCF;
$tag: #D1DFED;
$orange: #FFBB05;
$green: #71976A;

@mixin card {
  background-color: white;
  border-radius: 20px;
  max-width: 90%;
  margin: auto;
  height: auto;
  position: relative;
  padding: 20px 30px;
  transform: translate(0, -26%);
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07);
}

h1 {
  letter-spacing: 1.2px;
  font-size: 3em;
  font-weight: 800;
  margin-top: 80px;
}

nav a {
  margin-top: 40px;
}

a {
  background-image: linear-gradient(0deg, $orange 20%, transparent 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  line-height: 1;
  text-decoration: none;
}

a:hover {
  background-size: 100% 100%;
}

.header-background {
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-copy {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 120px;
  line-height: 1.6em;
}

.logo {
  width: 26%;
}

.buffer-sm {
  padding: 100px 0;
}

.buffer-lg {
  padding: 200px 0;
}

.buffer-exlg {
  padding: 400px 0;
}

.secondary-header {
  font-size: 1.4em;
  color: $grey;
}

.upcoming {
  color: $grey;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 40px;
}

.schedule-card {
  @include card;
}

.schedule-item {
  background: #F5F4F5;
  position: relative;
  display: flex;
  border-radius: 12px;
  cursor: pointer;
  transition: .4s ease-in-out;
  margin: 2% auto;
  font-weight: 600;
  color: black;
}

.schedule-item:hover {
  background-color: $orange;
  transform: scale(1.03);
  transition: .4s ease-in-out;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07);
  color: white;
}

.section-one,
.section-two {
  flex: 1;
  padding: 10px 20px;
}

#process-icon {
  width: 20%;
  height: 100%;
}

.kc-1 {
  background-image: url("../img/cookies.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kc-2 {
  background-image: url("../img/cupcakes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  @include card;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem 2em;
  height: 220px;
  -webkit-transition: .3s;
  transition: .5s ease-in-out;
  border-radius: 14px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
  padding: 1px 24px;
}

.card:hover {
  transform: translateY(2px);
  -webkit-transition: .3s;
  transition: .3s ease-in;
}

.previous-background {
  background-color: $orange;
  width: 100%;
  height: auto;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23fbc841' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");}

.previous-title {
  margin-left: 30px;
}

.push-sm {
  margin-top: 50px;
}

.box {
  background-color: #f4f4f4;
  padding: 12px 6px;
  height: 220px;
  -webkit-transition: .3s;
  transition: .4s ease-in-out;
  border-radius: 14px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.box:hover {
  transform: translateY(-4px);
  -webkit-transition: .3s;
  transition: .4s ease-in;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.07);
}

.button {
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 12px 40px;
  text-decoration: none;
  border: none;
  transition: .3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.10);
}

.button:hover {
  transition: .3s ease-in;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.20);
}

.button:active {
  position: relative;
  top: 2px;
}

button:focus {
  outline: 0;
}

.svg-icon {
  width: 1.8em;
  height: 1.8em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $orange;
}

.svg-icon circle {
  stroke: $orange;
  stroke-width: 1;
}

@media screen and (max-width: 47.9375em) {
  .dribbble-icon {
    width: 40%;
  }
}
